.slidev-code-wrapper {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

.slidev-layout.center h1, .slidev-layout.section h1, .slidev-layout h2 {
    margin-bottom: 1rem;
}